In [ ]:
a = 1230

In [ ]:
120000 * 1.23 * 10 / 100

In [ ]:
p = 120000
r = 1.23
t = 10
si = p * r * t / 100
print(si)

In [ ]:
a = 3902
b = 3290.123
c = "this is sparta"
d = True
e = None

In [ ]:
fruits = ["apple", "banana", "cherry"] # list
coords = (23.32, 32.00, 3.022) # tuple
person = {"name": "John", "age": 36} # dictionary
movies = {'avengers', 'ironman', 'hulk'} # set

In [ ]:
'apple' in fruits

In [ ]:
'avocado' in fruits

input and output

In [ ]:
name = input("enter your name")
iq = int(input("what your iq(1-150)"))

In [ ]:
pi = 22/7
r = float(input("Radius:"))
area = pi * r ** 2

In [31]:
print('for a radius of', r, ', the area is', area)

for a radius of 6.0 , the area is 113.14285714285714

In [ ]:
print('apple','banana','cherry')
print('apple','banana','cherry', sep=',')
print('apple','banana','cherry', sep='\n')

In [38]:
print(f"for a radius of {r},the area is {area:.1f} ðŸŽ‰")

for a radius of 6.0,the area is 113.1 ðŸŽ‰

In [42]:
print(f'Integer {a}')
print(f'Float {b}')
print(f'String `{c}`')
print(f'Boolean {d}')
print(f'Nonetype {e}')

Integer 3902
Float 3290.123
String `this is sparta`
Boolean True
Nonetype None