In [ ]:
x = int(input('Give me number:'))
if x >= 10:
    print("Hurray! ðŸŽ‰ðŸŽ‰ðŸŽ‰ðŸŽ‰")    
print("The end")

In [ ]:
if x % 2 == 0:
    print("Even")

In [ ]:
price = 1300
if price > 2000:
    print("Expensive")
else:
    print('we can buy it')

In [ ]:
marks = int(input('Enter your marks:'))
total = 600
pct = marks/total*100
print(f'{marks}/{total} = {pct:.2f}%')
if pct > 90:
    grade = 'A'
elif pct >= 75:
    grade = 'B'
elif pct >= 60:
    grade = 'C'
elif pct >= 40:
    grade = 'D'
else:
    grade = 'F'
print(f'Grade: {grade}')

In [ ]:
print("What is the capital of Bihar?")
ans = input('Your answer:')
match ans:
    case 'delhi':
        print("Incorrect")
    case 'patna'|'Patna':
        print("Correct")
    case _:
        print("Invalid answer")

loops
- iteration based `for`
- condition based `while`

In [ ]:
movies = [
    "The Shawshank Redemption",
    "The Godfather",
    "The Dark Knight",
    "Schindler's List",
    "Pulp Fiction",
    "The Lord of the Rings: The Return of the King",
    "The Good, the Bad and the Ugly",
    "Fight Club",
    "Forrest Gump",
    "Inception",
    "Star Wars: Episode V - The Empire Strikes Back",
    "The Lord of the Rings: The Fellowship of the Ring",
    "The Matrix",
    "Goodfellas",
    "One Flew Over the Cuckoo's Nest",
    "Seven Samurai",
    "Se7en",
    "City of God",
    "The Silence of the Lambs",
    "It's a Wonderful Life",
    "Life is Beautiful",
    "The Usual Suspects",
    "LÃ©on: The Professional",
    "Saving Private Ryan",
    "The Green Mile",
    "The Lion King"
]

```
for item in iterable:
    statement 1
    ...
    statement n
```

In [ ]:
for i in movies:
    print(i)

In [ ]:
for i in [12,45,56,122]:
    print(i)

In [ ]:
for i in range(10, 0, -1):
    print(i)

In [ ]:
for i in range(2, 21, 2):
    print(i)

In [ ]:
for name in movies:
    if 'the' in name.lower():
        print(name)

In [ ]:
x = [3,2,1,5,6]
total = 0
for i in x:
    total += i
print(total)

In [ ]:
sum(x) # pythonic way

In [ ]:
n = 25
fact = 1
for i in range(2, n+1):
    fact *= i
print(fact)

In [ ]:
a = 1
while a < 10:
    print(a)
    a += 1

In [39]:
while True:
    x = input('Enter a number:')
    if x.isnumeric():
        print('very good')
        break
    else:
        print('invalid input')

invalid input
invalid input
very good