In [ ]:
def bekar_func():
    pass

In [ ]:
def greetings():
    print('ðŸŽ‰'*6)
    print('Congratulations')
    print('ðŸŽ‰'*6)

In [ ]:
greetings()

In [ ]:
from random import choice
def roll_dice():
    options = ['1ï¸âƒ£', '2ï¸âƒ£', '3ï¸âƒ£', '4ï¸âƒ£', '5ï¸âƒ£', '6ï¸âƒ£']
    return choice(options)

In [ ]:
print(roll_dice())
print(roll_dice())

In [ ]:
ans = roll_dice()
print(f'You rolled {ans}')

In [ ]:
def factorial(num):
    result = 1
    for n in range(2, num+1):
        result *= n
    return result

In [ ]:
fact = factorial(50)
print(fact)

In [ ]:
def get_final_price(price):
    discount = 0
    if price > 5000:
        discount = price * .10 # 10% discount
    elif price > 2000: 
        discount = price * .05 # 5% discount
    return price - discount

In [ ]:
get_final_price(5600)

In [ ]:
def check_prime(a):
    for i in range(2, a):
        if a % i == 0:
            return "not prime"
    return "prime"

In [ ]:
check_prime(7)

In [ ]:
x = check_prime(120)
print(x)

In [ ]:
def minmaxavg(numlist):
    mn = min(numlist)
    mx = max(numlist)
    avg = sum(numlist) / len(numlist)
    return mn, mx, avg

In [ ]:
minmaxavg([12,45,67,78,100])

In [ ]:
ans = minmaxavg([12,45,67,78,100])
print(ans)

In [ ]:
a,b,c = minmaxavg([12,45,67,78,100])
print(a)
print(b)
print(c)

In [ ]:
def multiplier(a, b=1, c=1, d=1):
    return a*b*c*d

In [ ]:
multiplier(10)

In [ ]:
multiplier(2,4,10)

In [ ]:
multiplier(a=2, d=10, c=2) # named arguments

`f(x) = x**2 + x + 1`

In [ ]:
def quad(x):
    return x**2 + x + 1
quad(2)

In [ ]:
q = lambda x: x**2 + x + 1
print(q(2))
print(q(5))
print(q(50))

In [38]:
list(map(q, [2,5,6,10,11,23,45]))

[7, 31, 43, 111, 133, 553, 2071]

In [55]:
def something(sentence):
    for word in sentence.split():
        yield len(word)

In [56]:
for i in something("this is sparta"):
    print(i)

4
2
6